
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f0f8fd;
}


/*==================================== Login-Page =========================================*/

.login-page {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-row-gap: 1.5rem;
}

/*================== Login-Page-nav ============*/

.login-page-nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: #fff;
    padding: 2.5rem 0;
    box-shadow: 0 0 0.7rem rgba(0,0,0,0.3);
    z-index: 1;
}

.login-page-nav ul {
    width: 100rem;
    margin: auto;
    display: flex;
    align-items: flex-end;
    list-style: none;
}

.login-page-nav li {
    margin: 0 1rem;
    position: relative;
}

.login-page-nav li:last-child {
    margin-left: auto;
}

.login-page-nav li::after {
    content: "";
    width: 100%;
    height: 0.4rem;
    background-color: #1aa1f5;
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    opacity: 0;
}

.login-page-nav li:hover::after {
    opacity: 1;
    transition: opacity 0.3s;
}

.login-page-nav a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #555;
}

.login-page-nav li:hover a {
    color: #1aa1f5;
    transition: color 0.3s;
}

.login-page-nav i {
    color: #1aa1f5;
    font-size: 2rem;
}

/*================== login ================*/

.login {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #fff;
    width: 100rem;
    display: grid;
    grid-template-columns: 10rem 8fr;
    grid-template-rows: 2fr 1fr;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
}

.login-content {
    grid-column: 2/ -1;
    grid-row: 1 / 2;
    padding: 5rem 0 1rem 0;
}

.login-content h2 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

/*================== login-form ================*/

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input:not(.login-form-checkbox) {
    width: 30rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.login-form input:focus {
    background-color: #d9ebf7;
}

.login-form div {
    margin-top: 2rem;
}

.login-form button {
    padding: 1rem 1.5rem;
    background-color: #1aa1f5;
    color: #fff;
    border-radius: 4rem;
    border: 0.1rem solid #1aa1f5;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #048bdf;
    transition: background-color 0.5s;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
}

.login-form label {
    font-size: 1.6rem;
    font-weight: 300;
    margin-right: 1rem;
}

.login-form a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #1aa1f5;
}

/*================== login-footer ================*/

.login-footer {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    background-color: #edf3f7;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.login-footer p {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0.5rem 0;
}

.login-footer a {
    text-decoration: none;
    color: #1aa1f5;
}

.login a:hover {
    text-decoration: underline;
}



/*============================ Sign-Up Page ====================================================*/

.signUp-page {
    width: 100vw;
    height: 100vh;
    background-color: rgba(68, 67, 67, 0.433);
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: none;
}

/*=================== signUp-form =================*/

.signUp-form {
    position: absolute;
    top: 15%;
    left: 30%;
    background-color: #fff;
    width: 50em;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.signUp-heading {
    font-size: 2.5rem;
    margin-bottom: 1em;
    margin-left: 0.5em;
}

.signUp-form input {
    width: 90%;
    margin: 0.5em auto;
    font-size: 1.8rem;
    padding: 0.8rem 1.3rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
}

.signUp-form input:focus {
    background-color: #d9ebf7;
    transition: background-color 0.5s;
}

#signUp-btn {
    width: 95%;
    margin: 0.5em auto 0.3em;
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    background-color: #1aa1f5;
    color: #fff;
    border: 0.1rem solid #1aa1f5;
    border-radius: 1em;
    cursor: pointer;
}

#signUp-btn:hover {
    background-color: #048bdf;
    transition: background-color 0.5s;
}

#close-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1.5rem;
    padding: 0.3em 0.5em;
    border-radius: 50%;
    cursor: pointer;
}

#close-btn:hover {
    background-color: rgb(177, 173, 173);
    transition: background-color 0.5s;
}






/*================================ Responsive-Part =================================================================*/


@media screen and (max-width: 1024px) {

    .signUp-page {
        width: 110%;
        height: 110%;
    }

    .signUp-form {
        left: 25%;
    }
}

@media screen and (max-width: 912px) {

    .signUp-page {
        width: 120%;
        height: 110%;
    }

}


@media screen and (max-width: 820px) {

    .login-page {
        grid-row-gap: 2rem;
    }

    .login-page-nav a {
        font-size: 2.5rem;
    }
    
    .login-page-nav i {
        font-size: 3rem;
    }

    .login-content h2 {
        font-size: 3rem;
    }
    
    .login-form input:not(.login-form-checkbox) {
        width: 50rem;
        height: 5rem;
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
        font-size: 2rem;
    }

    .login-form button {
        padding: 1rem 1.5rem;
        font-size: 2rem;
        margin-right: 1rem;
    }
    
    #check {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }

    .login-form label, .login-form a {
        font-size: 2rem;
    }

    .login-footer p {
        font-size: 2rem;
    }

}

@media screen and (max-width: 820px) {

    .signUp-page {
        width: 140%;
        height: 140%;
    }

    .signUp-form {
        width: 70em;
        left: 15%;
    }

    .signUp-heading {
        font-size: 3.5rem;
        margin-left: 0.8em;
    }
    
    .signUp-form input {
        font-size: 3rem;
        border: 0.2rem solid #ddd;
    }
    
    #signUp-btn {
        width: 95%;
        font-size: 3rem;
    }

    #close-btn {
        font-size: 2rem;
        padding: 0.3em 0.5em;
    }
    
}


@media screen and (max-width: 540px) {

    .signUp-page {
        width: 200%;
        height: 200%;
    }

    .signUp-form {
        width: 80em;
        left: 10%;
    }

    .login {
        grid-template-columns: 5rem 8fr;
    }

    .login-page-nav a {
        font-size: 3.5rem;
    }
    
    .login-page-nav i {
        font-size: 4.5rem;
    }

    .login-content h2 {
        font-size: 5rem;
        margin-bottom: 4rem;
    }
    
    .login-form input:not(.login-form-checkbox) {
        width: 80rem;
        height: 7rem;
        margin-bottom: 1.8rem;
        padding-left: 2rem;
        font-size: 3.5rem;
    }

    .login-form button {
        padding: 1.5rem 2.5rem;
        font-size: 3rem;
        margin-right: 2rem;
    }
    
    #check {
        width: 3rem;
        height: 3rem;
        margin-right: 0.7rem;
    }

    .login-form label, .login-form a {
        font-size: 3rem;
        margin-right: 2rem;
    }

    .login-footer {
        padding-left: 50px;
    }

    .login-footer p {
        font-size: 3rem;
    }

}


@media screen and (max-width: 415px) {

    .signUp-page {
        width: 270%;
        height: 300%;
    }

    .signUp-form {
        width: 90em;
        top: 6%;
        left: 6%;
    }

    .signUp-heading {
        font-size: 4.5rem;
    }
    
    .signUp-form input {
        font-size: 4rem;
    }
    
    #signUp-btn {
        font-size: 4rem;
    }

    #close-btn {
        font-size: 3rem;
    }

}

@media screen and (max-width: 395px) {

    .signUp-page {
        width: 280%;
        height: 300%;
    }

}

@media screen and (max-width: 378px) {

    .signUp-page {
        width: 300%;
        height: 310%;
    }

}

@media screen and (max-width: 280px) {

    .signUp-page {
        width: 400%;
        height: 410%;
    }

}
